<!--index.html-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
    <title>Srushti Gangireddy</title>

    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Macondo" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
      <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
      <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css">
     <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112910214-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-112910214-1');
</script>

      
  </head>
  <body>
      
     <section id="home" style="height:700px;background-position:0 0;">
         <div class="introduction">
            <div class="name"><img src="/static/images/silo.png" width="150" height="300" class="App-logo"/> </div>
             <h1>Software engineer</h1>
             <p>Expertised in different domains of software and IT infrastructure development</p>
             <p>Full-stack software developer, also worked on various academic projects</p>
             <p>Oracle, AWS and Hortonworks certified professional</p>
             <div class="social">
                <ul class="horizontalList">
                 <li>
                     <a href="https://www.linkedin.com/in/srushtigangireddy/" title="LinkedIn Profile" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li>
                     <a href="https://github.com/SrushtiGangireddy" title="Github" target="_blank"><i class="fa fa-github"></i></a>
                    </li>
                    <li>
                     <a href="https://www.hackerrank.com/Srushtireddy" title="Hacerrank profile" target="_blank"><i class="fa fa-hand-peace-o"></i></a>
                    </li>
                    <li>
                     <a href="https://twitter.com/srushti005" title="Twitter Profile" target="_blank"><i class="fa fa-twitter"></i></a>
                    </li>
                     <li>
                     <a href="/downloadResume" target="_blank" title="Download Resume"><i class="fa fa-cloud-download"></i></a>
                    </li>
                 </ul>
             </div>
         </div>

         
      </section>
      
           
      <header class="header" id="navHeader" style="">
       <nav role="navigation" class="navbar navbar-custom">
          <div class="container-fluid">
              <div class="navbar-header">
                  <a class="navbar-brand" href="#"><span style="background-color:D5536C;font-size:30px;">SRUSHTI GANGIREDDY</span></a>
                  <button type="button" class="navbar-toggle" data-target="#navbarCollapse" data-toggle="collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  </button>
              </div>
              <div class="navbar-collapse collapse" id="navbarCollapse">
                  <ul class="nav navbar-nav navbar-right">
                      <li><a href="#home">Home</a></li>
                      <li><a href="#about">About</a></li>
                      <li><a href="#resume">Resume</a></li>
                      <li><a href="#projects">Projects</a></li>
                      <li><a href="#skills">Skills</a></li>
                      <li><a href="#contact">Contact</a></li>
                  </ul>
              </div>
          </div>
      </nav>
      </header>
      <section id="about">
          <div class="container">
              <div class="row about1" style="margin-bottom:100px;">
                  <h1 class="aboutTitle">Hey, I'm Srushti</h1>
                  <div class="col-md-5 col-xs-12 girl">
                      <img src="/static/images/girl.png" id="girl" title="Biography">
                  </div>
                  <div class="col-md-1 col-xs-1">
                  </div>
                  <div class="col-md-6 col-xs-12 my-info" style="visibility:hidden;">
                      <ul>
                          <li> <strong>Born on: </strong> 21st Sep 1992</li>
                          <li> <strong>Origin: </strong> India</li>
                          <li><strong> Education: </strong> Bachelors and Masters in Computer Science</li>
                          <li><strong>Live at: </strong> 3112 Yorba Linda Blvd, Apt C 12, Fullerton, CA, 92831</li>
                          <li><strong>Web Mail: </strong> srushti.gangireddy@gmail.com</li>
                          <li><strong>Reachable on: </strong> +1 714-872-6364</li>
                     
                      </ul>
                  </div>
              </div>
              <div class="row about2">
                  <div class="col-md-6 col-xs-12 motivation" style="visibility:hidden;">
                      <p>I have graduated with a <strong>Master's degree in Computer Science </strong> from California State University Fullerton. I also have professional experience developing and designing software for web and mobible.</p>
                      <p>Writing clean, efficient, scalable and secure code is my interest. I love learning new technologies and playing with them.</p>
                      <p>At the end of the day, I would like to work with a company that challenges my skills and brings the best out of me. Growing along with the company is my goal.</p>
                      <p>When i am not at my system, you would find my engrossed in any fantasy or sci-fiction novel. <strong>I am madly in love with books.</strong></p>
                  </div>
                  <div class="col-md-1 col-xs-1">
                  </div>
                  <div class="col-md-5 col-xs-12 goal">
                      <img src="/static/images/goal.png" id="goal" title="Goal">
                  </div>
              </div>
          </div>
      </section>
      
      <section id="whatcanido">
          <div class="expertise">
              <h1 style="padding:30px 30px 50px 30px;"><u>My expertise</u></h1>
              <div class="row works">
                  <div class="col-md-2">
                  </div>
                 <div class="col-md-4 work1" style="border-right:double #fff;border-bottom:double #fff;">
                     <h3 class="work-header">Backend programming</h3>
                     <br>
                     <p>
                         I have experience designing and developing full-stack web applications. I have worked on various backend technologies such as Java/J2EE, Python Flask and Django, Spring MVC. The database I have expertise in are Oracle, MySQL, Postgres, MongoDB. I have worked on physical as well as cloud servers. I am more comfortable using Flask/ Django for database intensive, REST-driven web applications. I am also building my expertise to build serverless applications using AWS technologies such as Lambda I also bring with me the rich knowledge of data structure and algorithms.
                     </p>
                    
                  </div>
                  <div class="col-md-4 work2" style="border-bottom:double #fff;">
                    <h3 class="work-header">Frontend</h3>
                      <br>
                    <p>I am expertised in HTML, CSS, JavaScript, JQuery to work on the front end part of applications. I have developed responsive applications that are pleasing visually on any device. I also have experience using AngularJS to my academic project.</p>
                  </div>
                   <div class="col-md-2">
                  </div>
              </div>
               <div class="row works">
                  <div class="col-md-2">
                  </div>
                 <div class="col-md-4 work3" style="border-right:double #fff;">
                     <h3 class="work-header">Cloud services</h3>
                     <p>I have worked with various AWS technologies and virtual boxes to set up Hadoop clusters and work in the distributed platform. I have thorough knowledge of the load balancers and their working. I have also worked with the cloud MongoDB machine to provide the remote access to the database. I am a AWS certified solutions architect associate.</p>
                  </div>
                  <div class="col-md-4 work4">
                   
                       <h3 class="work-header">Big Data Analytics</h3>
                     <br>
                     <p>I have worked on various data analytics projects using Apache Hadoop technologies: Map Reduce, Apache Hive, Apache Pig, Sqoop, Flume. I have strived to find interesting patterns in data using python libraries and linear regression models. One of my academic projects involved working with text reviews to rate the hotels by processing the natural language in the user using StanfordCoreNLP library. My final graduate project was to predict the most influential user on twitter by considering the relationships between users, representing them on graphs and performing graph analysis on them</p>
                  </div>
                   <div class="col-md-2">
                  </div>
              </div>
          </div>
      </section>
      <section id="resume">
          <div class="resume">
            
                  <h1 class="resume-header">Resume on timeline</h1>
       <br>
              <br>
                <div id="timeline">
                    <div class="tl-block">
                        <div class="tl-year">
                            <div>2009</div>
                        </div>
                    </div>
                    
                     <div class="tl-block">
                        <div class="tl-event">
                            <div class="event-r">
                                <div>
                                    <h3>Started bachelors in computer science at <strong> SASTRA UNIVERSITY </strong>, Thanjavur, Tamilnadu, India.</h3>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                    
                    
                     <div class="tl-block">
                        <div class="tl-year">
                            <div>2012</div>
                        </div>
                    </div>
                    
                    <div class="tl-block">
                        <div class="tl-event">
                            <div class="event-l">
                                <div>
                                    <h3>Graduated with Bachelors</h3>
                                    <p>Graduated with a bachelors degree in computer science with a GPA of 8.36 out of 10. I have worked on various acadmeic projects and learnt different programming languages, data structures, algorithms, database fundamentals and all the basic stuff to understand the functionality of computer.</p>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                    
                     <div class="tl-block">
                         <div class="tl-year">
                            <div>2013</div>
                        </div>
                    </div>
                    
                    <div class="tl-block">
                        <div class="tl-event">
                            <div class="event-r">
                                <div>
                                    <h3>Software Engineer Trainee at <strong>Tata Consultancy Services, Hyderabad</strong></h3>
                                    <p>Worked on developing an online recruitment portal using Java/ J2EE technologies, JDBC, HTML, CSS, Java Script. Designed aesthetically pleasing and responsive web model.</p>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                    
                    
                     <div class="tl-block">
                        <div class="tl-year">
                            <div>2013-2015</div>
                        </div>
                    </div>
                    
                     <div class="tl-block">
                        <div class="tl-event">
                            <div class="event-l">
                                <div>
                                    <h3>Software Engineer at <strong>Tata Consultancy Services, Hyderabad</strong> Client: Ericsson</h3>
                                    <p>Worked on developing the scripts to backup and restore the servers.
Developed the scripts that take snapshot of the disks, filesystems and analyze the health of the services timely.
Customized the code to restore the servers to the pervious healthy state in the time of crash.
Installed operating system on variety of servers using custom jumpstart.
Package, patch management, process administration.
Configured and maintained NFS, DNS, DHCP.
Netbackup policies, STU administration and configuration.
Responsible for all the configuration management activities for every sprint shipment.
Autmoated many manual test cases using python scripts.
                                    Worked in Agile model.</p>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                    
                    <div class="tl-block">
                        <div class="tl-year">
                            <div>2016</div>
                        </div>
                    </div>
                    
                     <div class="tl-block">
                        <div class="tl-event">
                            <div class="event-l">
                                <div>
                                    <h3>Oracle Certified Associate Java SE 7 Programmer certified</h3>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                    
                    <div class="tl-block">
                        <div class="tl-event">
                            <div class="event-r">
                                <div>
                                    <h3>Oracle Certified Professional Java SE 7 Programmer certified</h3>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                    
                    <div class="tl-block">
                        <div class="tl-event">
                            <div class="event-l">
                                <div>
                                    <h3>Hortonworks certified Hadoop Developer</h3>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                    
                    <div class="tl-block">
                        <div class="tl-event">
                            <div class="event-r">
                                <div>
                                    <h3>Masters of Science in Computer Science at <strong>California State University Fullerton</strong></h3>
                                    <p>Started Masters coursework working on various academic projects.</p>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                    
                    <div class="tl-block">
                        <div class="tl-event">
                            <div class="event-l">
                                <div>
                                    <h3>Voluntary python tutor.</h3>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                    
                     <div class="tl-block">
                        <div class="tl-year">
                            <div>2017</div>
                        </div>
                    </div>
                    
                    <div class="tl-block">
                        <div class="tl-event">
                            <div class="event-r">
                                <div>
                                    <h3>Web Developer (Voluntary)</h3>
                                    <p>Worked on designing the database needed to manage patient’s appointments and feedbacks for a doctor.
Designed and developed a website.
Tools/ Technologies: Python, MongoDB, HTML, CSS, Javascript, JQuery, Bootstrap, Flask framework</p>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                    
                     <div class="tl-block">
                        <div class="tl-event">
                            <div class="event-l">
                                <div>
                                    <h3>AWS Certified Solutions Architect Associate</h3>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                    
                     <div class="tl-block">
                        <div class="tl-event">
                            <div class="event-r">
                                <div>
                                    <h3>Graduate Project</h3>
                                    <p>Worked on twitter data to predict the most influential user for certian topic by performing centrality measure. The tweet and retweet network is considered to form the graph of users.</p>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                    
                    <div class="tl-block">
                        <div class="tl-year">
                            <div>2018</div>
                        </div>
                    </div>
                    
                     <div class="tl-block">
                        <div class="tl-event">
                            <div class="event-l">
                                <div>
                                    <h3>Graduate with Masters</h3>
                                    <p>Graduated with Masters degree in Computer Science with GPA of 3.9. I have worked on various academic software development projects.</p>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                    
                     <div class="tl-block">
                        <div class="tl-year">
                            <div></div>
                        </div>
                    </div>
                    
              </div>
              
            
              
              </div>
            
        
      </section>
      
      <section id="projects">
          <div class="project-header">
              <h1 style="color:#50C878;"><u>Projects at a Glance</u></h1>
          </div>
          <h3 class="project-header" id="project-header"></h3>
          
          <div id="slider">
              <div id="box">
                  
                  <img class="projectImg" id="projectImg" name="projectImg" src="/static/images/port.jpg">
                  <button class="btn"><a href="#" target="_blank" id="projectSrc">Source Code</a></button>
              </div>
              
              <button class="next fa fa-chevron-right" onclick="nextImage()"></button>
              <button class="prev fa fa-chevron-left" onclick="prevImage()"></button>
              
          </div>
      </section>
      
      <section id="skills">
         <div class="container">
             <h1 class="skills-header">Skills</h1>
             <br>
    <div class="row">
        <br>
        <br>
         
        
        <div class="col-md-2 col-sm-6">
            <div class="progress java">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">Java</div>
            </div>
        </div>
        <div class="col-md-2 col-sm-6">
            <div class="progress python">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">Python</div>
            </div>
        </div>
        <div class="col-md-2 col-sm-6">
            <div class="progress hadoop">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">Hadoop</div>
            </div>
        </div>
        <div class="col-md-2 col-sm-6">
            <div class="progress aws">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">AWS</div>
            </div>
        </div>
        <div class="col-md-2 col-sm-6">
            <div class="progress j2ee">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">J2EE</div>
            </div>
        </div>
        <div class="col-md-2 col-sm-6">
            <div class="progress bash">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">Bash Scripting</div>
            </div>
        </div>
    </div>
             
             <br>
             <br>
             <div class="row">
                  <br>
        <br>
         
        
        <div class="col-md-2 col-sm-6">
            <div class="progress ds">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">Data Structures</div>
            </div>
        </div>
        <div class="col-md-2 col-sm-6">
            <div class="progress algo">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">Algorithms</div>
            </div>
        </div>
        <div class="col-md-2 col-sm-6">
            <div class="progress fe">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">Html,CSS,JS</div>
            </div>
        </div>
        <div class="col-md-2 col-sm-6">
            <div class="progress mndb">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">MongoDB</div>
            </div>
        </div>
        <div class="col-md-2 col-sm-6">
            <div class="progress db">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">Git, Maven</div>
            </div>
        </div>
        <div class="col-md-2 col-sm-6">
            <div class="progress da">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">Data Analytics</div>
            </div>
        </div>
             </div>
             <br>
             <br>
             
</div>

      </section>
      
      <section id="certifications">
          <div class="certs-header">
              <h1><u>Certifications</u></h1>
          </div>
          
          <div id="certSlider">
              <div id="certBox">
                  
                    <img class="certImg" id="certImg" name="certImg" src="/static/images/certs/4.jpg">
                 
                  
              </div>
              
              <button class="certNext fa fa-chevron-right" onclick="nextCert()"></button>
              <button class="certPrev fa fa-chevron-left" onclick="prevCert()"></button>
              
          </div>
      </section>
      
      <section id="contact">
          <div class="container">
              <h3 class="contact-header">Get in touch with me</h3>
              <div class="row">
                  <div class="col-md-6 col-xs-12">
                      <form id="contactForm" method="post" action="/contact">
                          <div class="form-group">
                              <label for="name">Name</label>
                              <input type="text" name="name" class="form-control" id="name" required>
                          </div>
                          <div class="form-group">
                              <label for="subject">Subject</label>
                              <input type="text" name="subject" class="form-control" id="subject" required>
                          </div>
                          <div class="form-group">
                              <label for="email">Email</label>
                              <input type="email" name="email" class="form-control" id="email" required>
                          </div>
                          <div class="form-group">
                              <label for="message">Message</label>
                             <textarea name="message" class="form-control" id="message" rows="5" required></textarea>
                          </div>
                          <button type="submit" name="submit" id="submit" class="btn btn-primary contactButton">Send</button>
                      </form>
                      
                  </div>
                  <div class="col-md-2">
                  </div>
                  <div class="col-md-4 col-xs-12" style="float:right;">
                      <div id="map" style="width:400px;height:400px;background:white"></div>
                  </div>
              </div>
          </div>
      </section>
      
      <section id="footer">
          <div class="footer">
              <div class="social" style="padding:30px;display:block;">
                <ul class="horizontalList">
                 <li>
                     <a href="https://www.linkedin.com/in/srushtigangireddy/" title="LinkedIn Profile" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li>
                     <a href="https://github.com/SrushtiGangireddy" title="Github" target="_blank"><i class="fa fa-github"></i></a>
                    </li>
                    <li>
                     <a href="https://www.hackerrank.com/Srushtireddy" title="Hacerrank profile" target="_blank"><i class="fa fa-hand-peace-o"></i></a>
                    </li>
                    <li>
                     <a href="https://twitter.com/srushti005" title="Twitter Profile" target="_blank"><i class="fa fa-twitter"></i></a>
                    </li>
                     <li>
                     <a href="/downloadResume" target="_blank" title="Download Resume"><i class="fa fa-cloud-download"></i></a>
                    </li>
                 </ul>
                  <p style="margin-left:70px;color:white;margin-top:20px;">&copy; 2017 SRUSHTI GANGIREDDY</p>
             </div>
          </div>
      </section>
      
      
  <script>
      function myMap() {
          var myCenter = new google.maps.LatLng(33.8887699,-117.8741365);
          var marker = new google.maps.Marker({
    position: myCenter
  });
    var mapOptions = {
        center: new google.maps.LatLng(33.8887699,-117.8741365),
        zoom: 7,
        mapTypeId: google.maps.MapTypeId.HYBRID
    }
var map = new google.maps.Map(document.getElementById("map"), mapOptions);
          marker.setMap(map);
}
      </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTCWJanNSnEUaPDzDFX4lSk-ZYtWILMoA&callback=myMap"></script>
      <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script type="text/javascript">
          var sliderContent=document.getElementById('box');
          var image=["AspectRating","jumpUp","adbms","twitter-cm","voice-note","dr-skr"];
          var i=image.length;
          function nextImage(){
              if(i<image.length){
                  i=i+1;
              }else{
                  i=1;
              }
              if(image[i-1]=="AspectRating"){
                  document.getElementById("project-header").innerHTML="Text Mining application on Hadoop that ranks hotels on each aspect";
                  document.getElementById("projectSrc").setAttribute("href","https://github.com/SrushtiGangireddy/Aspect-Rating-Hotels-using-Map-Reduce");
              }else if(image[i-1]=="jumpUp"){
                  document.getElementById("project-header").innerHTML="Full stack crowd funding web application";
                  document.getElementById("projectSrc").setAttribute("href","https://github.com/SrushtiGangireddy/Jump-Up");
              }else if(image[i-1]=="adbms"){
                  document.getElementById("project-header").innerHTML="Data mining application to build a model that predicts the level of student alcohol consumption";
                  document.getElementById("projectSrc").setAttribute("href","https://github.com/SrushtiGangireddy/Student-Alcohol-Consumption");
              }else if(image[i-1]=="twitter-cm"){
                  document.getElementById("project-header").innerHTML="Data analytics application that analyzes twitter data and predicts influential user";
                  document.getElementById("projectSrc").setAttribute("href","https://github.com/SrushtiGangireddy/TwitterInfluentialUser");
              }else if(image[i-1]=="voice-note"){
                  document.getElementById("project-header").innerHTML="Speech to text notes android application";
                  document.getElementById("projectSrc").setAttribute("href","https://github.com/SrushtiGangireddy/Voice-Note");
              }else if(image[i-1]=="dr-skr"){
                  document.getElementById("project-header").innerHTML="Full stack web application for a doctor";
                  document.getElementById("projectSrc").setAttribute("href","http://www.drskreddy.com");
              }else{
                  document.getElementById("project-header").innerHTML="";  
                  document.getElementById("projectSrc").setAttribute("href","#");
              }
              document.getElementById("projectImg").src="/static/images/"+image[i-1]+".jpg";
             
          }
          function prevImage(){
              if(i<image.length+1 && i>1){
                  i=i-1;
              }else{
                  i=image.length;
              }
               if(image[i-1]=="AspectRating"){
                  document.getElementById("project-header").innerHTML="Text Mining application on Hadoop that ranks hotels on each aspect";
                  document.getElementById("projectSrc").setAttribute("href","https://github.com/SrushtiGangireddy/Aspect-Rating-Hotels-using-Map-Reduce");
              }else if(image[i-1]=="jumpUp"){
                  document.getElementById("project-header").innerHTML="Full stack crowd funding web application";
                  document.getElementById("projectSrc").setAttribute("href","https://github.com/SrushtiGangireddy/Jump-Up");
              }else if(image[i-1]=="adbms"){
                  document.getElementById("project-header").innerHTML="Data mining application to build a model that predicts the level of student alcohol consumption";
                  document.getElementById("projectSrc").setAttribute("href","https://github.com/SrushtiGangireddy/Student-Alcohol-Consumption");
              }else if(image[i-1]=="twitter-cm"){
                  document.getElementById("project-header").innerHTML="Data analytics application that analyzes twitter data and predicts influential user";
                 document.getElementById("projectSrc").setAttribute("href","https://github.com/SrushtiGangireddy/TwitterInfluentialUser");
              }else if(image[i-1]=="voice-note"){
                  document.getElementById("project-header").innerHTML="Android application that helps in taking notes and speaking them loud";
                  document.getElementById("projectSrc").setAttribute("href","https://github.com/SrushtiGangireddy/Voice-Note");
              }else if(image[i-1]=="dr-skr"){
                  document.getElementById("project-header").innerHTML="Full stack web application for a doctor";
                  document.getElementById("projectSrc").setAttribute("href","http://www.drskreddy.com");
              }else{
                  document.getElementById("project-header").innerHTML="";  
                  document.getElementById("projectSrc").setAttribute("href","#");
              }
              document.getElementById("projectImg").src="/static/images/"+image[i-1]+".jpg";
          }
          /*setInterval(nextImage,3000);*/
      </script>
      <script type="text/javascript">
          var sliderContent=document.getElementById('certBox');
          var img=["1","2","3","4","5","6","7"];
          var i=img.length;
          function nextCert(){
              if(i<img.length){
                  i=i+1;
              }else{
                  i=1;
              }
              document.getElementById("certImg").src="/static/images/certs/"+img[i-1]+".jpg";
             
          }
          function prevCert(){
              if(i<img.length+1 && i>1){
                  i=i-1;
              }else{
                  i=img.length;
              }

              document.getElementById("certImg").src="/static/images/certs/"+img[i-1]+".jpg";
          }
         
      </script>
      <script>
          window.onscroll=function(){
              stickHeader()
          };
          var header=document.getElementById("navHeader");
          var sticky=header.offsetTop;
          
          function stickHeader(){
              if(window.pageYOffset>=sticky)
                  header.classList.add("sticky");
              else
                  header.classList.remove("sticky");
          }
      </script>
      
    <script>
        $(function(){
            $("ul.horizontalList li").mouseover(function(){
                $(this).css("background-color","#D5536C");
            });
             $("ul.horizontalList li").mouseout(function(){
                $(this).css("background-color","transparent");
            });
             $("div.girl").mouseover(function(){
               $("div.my-info").css("visibility","visible");
            });
           
             $("div.goal").mouseover(function(){
               $("div.motivation").css("visibility","visible");
            });    
        });
      </script>
  </body>
</html>
